@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-color: #C2DEDC;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  box-sizing: border-box;
  flex: 1;
  margin-top: 60px;
  padding: 0 10%;
  width: 100%;
  color: #116A7B;
}

.container h2 {
  font-family: 'Quicksand', sans-serif;
}

input {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 8px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  margin: 16px 0;
  border-radius: 6px;
  border: none;
}

.book-list {
  background-color: #116A7B;
}

.form-message {
  color: #e22859;
  border-left: 3px solid #e22859;
  padding-left: 8px;
  background-color: #fafafa;
  margin: 10px;
}

.form-message p {
  padding: 8px 0;
}

button {
  padding: 20px;
  background-color: #53ABE7;
  color: white;
  border: none;
  border-radius: 10px;
  width: 300px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

/* ESTILIZAÇÃO ANTERIOR: */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(62, 62, 62);
  color: rgb(199, 199, 199);
  font-family: 'Quicksand', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  box-sizing: border-box;
  flex: 1;
  margin-top: 60px;
  padding: 0 10%;
  width: 100%;
}

h2 {
  margin: 30px;
}

ul {
  list-style: none;
}

ul li {
  margin: 20px;
} */